.button {
    width: 80%;
    padding: $s-size 0;
    border-radius: 3px;
    color: white;
    background-color: $accent-color;
    font-weight: 4000;
    border: none;
    font-size: $font-size-large;
}